.header-div{
	    width: 100%;
	    height:100px;
	    background-color: rgb(27, 72, 145);
	    top: 0;
	    left: 0;
	    position: fixed;
	    color:white;
	}
	.bodyAndFooter{
		margin-top:100px;
	}
	.footer{
		  position: fixed;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  padding: 1rem;
		  background-color: #efefef;
		  text-align: center;
	}
	.footer .nav{
		width:75%;
		margin-left:auto;
		margin-top:0;
		font-size:1em;
	}
	.nav{
		width:70%;
		margin-left:300px;	
		margin-top:40px;
		font-size:1.1em;
	}
	.logo-img{
		width:250px;
	}
	.logo{
		margin-top:20px;
		width:10%;
		float:left;
	}
	.nav span{
		margin-right:10px;
	}
	.nav sapan a:link{
		color:white;
	}
	.language{
		float:right;
		margin-right:20px;
	}
	.header-right{
	    color:white;
	    margin-left:600px;
	    margin-top:40px;
	    width: 500px;
	}
	.content-div{
		padding:20px;
		maring-top:300px;
		width:70%;
		margin-left:200px;
	}
	.content-div .personal-info{
		width:300px;
		padding: 20px;
		border-right:1px solid black;
		float:left;
	}
	.content-div .address{
		width:300px;
		padding: 20px;
		border-right:1px solid black;
		float:left;
	}
	.content-div .submmit-button{
		width:300px;
		padding: 20px;
		clear:both;
	}
	td.link span{
		margin-right:100px;;
	}
	.img-circle {
    border-radius: 50%;
}
	